.DS_Store
Pease_etal_TomatoPhylo_ASTRAL*
Pease_etal_TomatoPhylo_MPEST*
Pease_etal_TomatoPhylo_RAxMLConcatTree_no1360_Fig2A.nwk
Pease_etal_TomatoPhylo_RAxMLConcatTree_peruvianumgroup_FigS2C.nwk
Pease_etal_TomatoPhylo_RAxMLConcatTree_wildtaxa_FigS2B.nwk
Pease_etal_TomatoPhylo_RAxML_ICScore.nwk
